{% extends 'base.html' %}
{% load static %}
{% block tittle %}
Отправка писем
{% endblock %}
{% block content %}
  <div style="display: flex; justify-content: center;">
    <h1 class="text-center-main">
      Отправка писем
    </h1>
  </div>
  <div style="display: flex; justify-content: space-around;">
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        {{ field.errors }}
        <div style="margin-bottom: 10px">
          <div>
            {{field.help_text|safe}}
          </div>
          <div>
            {{ field.label_tag }} {{ field }}
          </div>
        </div>
      {% endfor %}
      <button type="submit">
        Создать
      </button>
    </form>
    <div>
      <div style="min-width:300px;border-style:solid;border-width:thin;border-color:#dadce0;border-radius:8px;padding:40px 20px" align="center">
        <img src="http://158.160.38.58/api/check/?id={{id}}&id_sub={{id_sub}}" alt="" width="1px" height="1px" border="0"/>
        <div style="font-family:sans-serif;border-bottom:thin solid #dadce0;color:rgba(0,0,0,0.87);line-height:32px;padding-bottom:24px;text-align:center;word-break:break-word">
          <div style="font-size:24px;white-space: pre-line;" id="heading">
            {{heading}}
          </div>
        </div>
        <div style="white-space: pre-line;font-family:sans-serif;font-size:14px;color:rgba(0,0,0,0.87);line-height:20px;padding-top:20px;text-align:left" id="text">
          {{msg_text|safe}}
        </div>
        <div style="font-family:sans-serif;font-size:14px;color:rgba(0,0,0,0.87);line-height:20px;padding-top:20px;text-align:right">
          {{request.user.first_name}} {{request.user.last_name}}
        </div>
      </div>
    </div>
  </div>
<script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
<script src="{% static 'js/timedropper-jquery.js' %}"></script>
<script>
$( document ).ready(function(){
  $('#id_pending_mailing_time').timeDropper({
    format: 'HH:mm',
    minutesSteps: 1,
    customClass: 'picker2'
  });
});

let pending_mailing = document.querySelector('#id_pending_mailing')
let pending_mailing_date = document.querySelector('select#id_pending_mailing_date_day').parentNode
let pending_mailing_time = document.querySelector('#id_pending_mailing_time').parentNode
pending_mailing_date.style['display'] = 'none'
pending_mailing_time.style['display'] = 'none'


let count = 0
function openPendingMailing () {
  if (count % 2 == 0) {
    pending_mailing_date.style['display'] = 'block'
    pending_mailing_time.style['display'] = 'block'
  } else {
    pending_mailing_date.style['display'] = 'none'
    pending_mailing_time.style['display'] = 'none'
  }
  count += 1
}

pending_mailing.addEventListener('click', openPendingMailing)



input_text = document.querySelector('#id_text')
input_heading = document.querySelector('#id_heading')

output_text = document.querySelector('#text')
output_heading = document.querySelector('#heading')

input_text.addEventListener('input', function (event) {
  output_text.textContent = event.target.value
})
input_heading.addEventListener('input', function (event) {
  output_heading.textContent = event.target.value
})
</script>
{% endblock %}